.info {
  @media (max-width: 768px) {
    order: 2;
  }
  &__text {
    &-heading {
      font-weight: bold;
      font-size: 18px;
      line-height: 128.91%;
      color: $heading;
    }

    &-p {
      margin: 0;
      color: $content;
      line-height: 140%;

      &:first-child {
        margin-bottom: 4px;
        letter-spacing: 0.5px;
      }

      &--sm {
        font-size: 12px;
      }

      &--bold {
        font-weight: bold;
      }

      &--uppercase {
        text-transform: uppercase;
      }

      &--dark {
        color: $heading;
      }
    }
  }
}