body {
  background-color: $bg-dark;
  font-family: "Poppins", Arial, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: $content;

  @media (max-width: 768px) {
    background-color: $bg;
  }
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  padding-top: 64px;
  flex-grow: 1;

  @media (max-width: 768px) {
    padding-top: 24px;
  }
}

a {
  color: $link;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.ar {
  text-align: right;
}

h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
  margin-top: 0;
  margin-bottom: 32px;
  color: $heading;

  @media (max-width: 768px) {
    font-size: 28px;
    margin-bottom: 18px;
  }
}

h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 128.91%;
  color: $heading;
  margin-top: 45px;
}

p {
  line-height: 24px;
}