$bg: #fff;
$bg-dark: #FAFAFA;
$footer: #F4F4F4;
$content: #4C4C4C;
$heading: #000;
$accent-main: #6F36BC;
$accent-main-light: #BEA4E1;
$accent-second: #2ACBA5;
$btn: #FF4778;
$border: #F0F0F0;
$border-light: #ECECEC;
$link: #D83863;
$tags: #F2EAFE;

$gutter: 15px;
@mixin transition {
  transition: .5s ease;
}