<footer class="footer">
    <div class="wrapper">
        <div class="flex ungutter">
            <div class="col-2 col-lg-2 cell flex align-center">
                ©2019
            </div>
            <div class="col-5 col-lg-7 cell footer__menu flex justify-between align-center">
                <a href="#" class="footer__menu-item">
                    Home
                </a>
                <a href="#" class="footer__menu-item">
                    Explore
                </a>
                <a href="#" class="footer__menu-item">
                    Privacy Policy
                </a>
                <a href="#" class="footer__menu-item">
                    Term & Conditions
                </a>
            </div>

            <div class="col-5 col-lg-3 cell footer__soc flex justify-end align-center">
                <a href="#" class="footer__soc-item">
                    <img src="images/fb.png" alt="" class="footer__soc-img">
                </a>

                <a href="#" class="footer__soc-item">
                    <img src="images/tw.png" alt="" class="footer__soc-img">
                </a>
            </div>
        </div>
    </div>
</footer>