<header class="header">
    <div class="wrapper">
        <div class="flex">
            <div class="col-3">
                <a href="/" class="header__logo">
                    <svg class="header__logo-svg">
                        <use href="#logo"></use>
                    </svg>
                </a>
            </div>
            <nav class="menu flex col-9 align-center justify-end">
                <a href="#" class="menu__item">
                    Home
                </a>
                <a href="#" class="menu__item active">
                    Explore
                </a>
                <a href="#" class="menu__item">
                    My Campaigns
                </a>
                <a href="#" class="menu__item menu__item-user">
                    <img src="images/user.jpg" alt=user" class="menu__user-img">
                </a>
            </nav>
        </div>
    </div>
</header>